Repository slint-ui/slint, pull requests merged in 2023-01, with the labels that each got.

#870 C++: Use concepts for the invokables
  .github/workflows/ci.yaml
  api/cpp/include/slint.h
  api/cpp/include/slint_interpreter.h
  internal/compiler/generator/cpp.rs
Labels: language-c++, breaking change

#2137 Update to FemtoVG 4.0
  internal/backends/winit/Cargo.toml
  internal/backends/winit/renderer/femtovg.rs
  internal/backends/winit/renderer/femtovg/fonts.rs
  internal/backends/winit/renderer/femtovg/itemrenderer.rs
Labels: renderer-femtovg

#2134 Fix panics in the software renderer system font
  internal/core/software_renderer.rs
  internal/core/textlayout/glyphclusters.rs
  internal/core/textlayout/shaping.rs
Labels: font, renderer-software
